<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>430w-932h@3x~iphone</key>
	<dict>
		<key>deviceClass</key>
		<string>iPhone</string>
		<key>screenSize</key>
		<real>6.7</real>
		<key>screenScale</key>
		<integer>3</integer>
		<key>width</key>
		<integer>430</integer>
		<key>height</key>
		<integer>932</integer>
		<key>outputDir</key>
		<string>6.7&quot;</string>
	</dict>
	<key>393w-852h@3x~iphone</key>
	<dict>
		<key>deviceClass</key>
		<string>iPhone</string>
		<key>screenSize</key>
		<real>6.1</real>
		<key>screenScale</key>
		<integer>3</integer>
		<key>width</key>
		<integer>393</integer>
		<key>height</key>
		<integer>852</integer>
		<key>outputDir</key>
		<string>6.1&quot; @3x</string>
	</dict>
	<key>428w-926h@3x~iphone</key>
	<dict>
		<key>deviceClass</key>
		<string>iPhone</string>
		<key>screenSize</key>
		<real>6.7</real>
		<key>screenScale</key>
		<integer>3</integer>
		<key>width</key>
		<integer>428</integer>
		<key>height</key>
		<integer>926</integer>
		<key>outputDir</key>
		<string>6.7&quot;</string>
	</dict>
	<key>390w-844h@3x~iphone</key>
	<dict>
		<key>deviceClass</key>
		<string>iPhone</string>
		<key>screenSize</key>
		<real>6.1</real>
		<key>screenScale</key>
		<integer>3</integer>
		<key>width</key>
		<integer>390</integer>
		<key>height</key>
		<integer>844</integer>
		<key>outputDir</key>
		<string>6.1&quot; @3x</string>
	</dict>
	<key>375w-667h@2x~iphone</key>
	<dict>
		<key>deviceClass</key>
		<string>iPhone</string>
		<key>screenSize</key>
		<real>4.7</real>
		<key>screenScale</key>
		<integer>2</integer>
		<key>width</key>
		<integer>375</integer>
		<key>height</key>
		<integer>667</integer>
		<key>outputDir</key>
		<string>4.7&quot;</string>
	</dict>
	<key>375w-812h@3x~iphone</key>
	<dict>
		<key>deviceClass</key>
		<string>iPhone</string>
		<key>screenSize</key>
		<real>5.8</real>
		<key>screenScale</key>
		<integer>3</integer>
		<key>width</key>
		<integer>375</integer>
		<key>height</key>
		<integer>812</integer>
		<key>outputDir</key>
		<string>5.8&quot;</string>
	</dict>
	<key>414w-736h@3x~iphone</key>
	<dict>
		<key>deviceClass</key>
		<string>iPhone</string>
		<key>screenSize</key>
		<real>5.5</real>
		<key>screenScale</key>
		<integer>3</integer>
		<key>width</key>
		<integer>414</integer>
		<key>height</key>
		<integer>736</integer>
		<key>outputDir</key>
		<string>5.5&quot;</string>
	</dict>
	<key>414w-896h@3x~iphone</key>
	<dict>
		<key>deviceClass</key>
		<string>iPhone</string>
		<key>screenSize</key>
		<real>6.5</real>
		<key>screenScale</key>
		<integer>3</integer>
		<key>width</key>
		<integer>414</integer>
		<key>height</key>
		<integer>896</integer>
		<key>outputDir</key>
		<string>6.5&quot;</string>
	</dict>
	<key>414w-896h@2x~iphone</key>
	<dict>
		<key>deviceClass</key>
		<string>iPhone</string>
		<key>screenSize</key>
		<real>6.1</real>
		<key>screenScale</key>
		<integer>2</integer>
		<key>width</key>
		<integer>414</integer>
		<key>height</key>
		<integer>896</integer>
		<key>outputDir</key>
		<string>6.1&quot; @2x</string>
	</dict>
</dict>
</plist>
